body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background: url(img/white-concrete-wall_53876-92803.webp);

}

.content {
	margin: 50px;
}

/* Header*/
header {
	display: flex;
	align-items: center;
}

ul, li {
	padding: 0;
	margin: 0;
}


.menu {
	display: flex;
}

.menu a {
	font-family: 'Michroma', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;
	color: #000;
}

nav	{
	margin-left: 49px;
}
.menu li {
	margin-right: 49px;
	list-style-type: none;
}

.search {
	margin-left: auto;
}

/* First Screen*/
.first-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	overflow: hidden
}

.first-screen h1, h2, h3, p {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	color: #000;
}

.first-screen h1 {
	font-size: 100px;
}
.first-screen h2 {
	margin-top: -20px;
	font-family: 'Michroma', sans-serif ;
	font-size: 30px;
	font-weight: lighter;
	letter-spacing: 0.15em
}
.first-screen h3 {
	font-size: 20px;
}
.first-screen p {
	margin-top: 20px;
}
.text {
	margin-top: 49px;
}

.car-img img {

}

.btn{
	margin-top: 40px;
	margin-bottom: 90px;
	display: flex;
	width: 26%;
	background: #000;
	font-size: 20px;
	padding-left: 30px;
	padding-top: 22px;
	padding-bottom: 22px;
	border-radius: 34.5px;
}
.btn a{
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-decoration: none;
	margin-right: 30px;
}

.btn img {
	margin-left: auto;
	padding-right: 30px;
}

.video {

}
